#too1 {
  background-color: rgb(216, 213, 213);
  color: rgb(0, 0, 0);
}
#suuri {
  background-color: midnightblue;
  color: bisque;
}
#too2 {
  background-color: rgb(216, 213, 213);
  color: rgb(0, 0, 0);
}
#too3 {
  background-color: rgb(216, 213, 213);
  color: rgb(0, 0, 0);
}
#tentsuu {
  background-color: aqua;
}
